<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="net.akaritakai.stream.log">
  <Appenders>
    <Console name="StreamServerLog" target="SYSTEM_OUT">
      <PatternLayout>
        <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p [%c{1}:%L] - %m%n</Pattern>
      </PatternLayout>
    </Console>
    <DashboardLog name="DashboardServerLog">
      <PatternLayout>
        <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p [%c{1}:%L] - %m%n</Pattern>
      </PatternLayout>
    </DashboardLog>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="StreamServerLog"/>
      <AppenderRef ref="DashboardServerLog"/>
    </Root>
  </Loggers>
</Configuration>
